<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Ember Reddit</a>
    </div>
    <ul class="nav navbar-nav">
      {{#each}}
        <li>{{#link-to "subreddit" this}}{{this}}{{/link-to}}</a></li>
      {{/each}}
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<h1>/reddit/{{subreddit_id}}</h1>

{{outlet}}
